*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
*::after{
	box-sizing: border-box;
}
*::before{
	box-sizing: border-box;
}

a{
	text-decoration: none;
	color:inherit;
}

ul,ol{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	color: black;
	font-weight: normal;
}
body{
	font: Helvetica, sans-serif;
	font-size:15px;
}
