

.BFC{
	overflow:hidden;
}


/*logolist*/
.logolist{
	background:#e81113;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:17px 10px;
}
.logolist .logo{
	width:  142px;
    height: 25px;
    vertical-align: top;
}
.logolist .download{
	font-size:15px;
	line-height: 2;
	padding:0 10px;
	font-weight: 400;
	color: white; 
	position: relative;
}
.logolist .download::after{
	content: '';
	display: block;
	position: absolute;
	width: 200%;
	height: 200%;
	border-radius: 35px; 
	top: 0;
	left: 0;
	border: 1px solid white;
	transform: scale(0.5);
	transform-origin: 0 0;
}

.tabs ol{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.tabs ol li{
	text-align: center;
	width: 33.333333%;
}

.text{
	padding:0px 5px; 
	position: relative;
	display: inline-block;
	line-height:40px;
	text-align: center;
}

li.active .text{
   color: #d33a31;
}

li.active .text::after{
	position: absolute;
	content: '';
	background: red;
	left: 0;
	bottom: 0;
	display: block;
	width: 100%; 
	height: 2px;
}

.tabs{
	border-bottom:1px #e8e8e8 solid;
}

.playlist{
	padding-top:1px; 
	margin-top:103px; 
	background: #fcfcfd;
}

.playlist h3{
	margin:20px 0px 14px; 
	font-size: 17px;
	line-height: 20px;
	color:black;
	padding-left:9px; 
	position: relative;  
}

.playlist h3::after{
	content: '';
	position: absolute;
	display: block;
	width: 2px;
	height:80%;
	left: 0;
	top:0;
	background: red;  
}



.songs-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.songs{
	width:32.7%;
	margin-bottom:16px; 
}
.songs img{
	width: 100%;
}
.songs p{
	display: -webkit-box;

-webkit-box-orient: vertical;

-webkit-line-clamp:2;

overflow: hidden;

padding: 0px 2px 0 6px;
    line-height: 1.2;
    font-size: 13px;
}

.content-page{
	display: none;
}
.content-page.active{
	display: block;
}


/*new-music*/



.new-music li{
	margin-top: 10px;
	display: flex;
	justify-content:space-between;
	margin-left:9px; 
    padding-bottom:3px;
    border-bottom:1px solid #f1f1f2;
}


.imformation h4{
	font-size: 17px;
}

.icon-play{
	display: inline-block;
	width:20px;
	height: 20px;
	font-size: 40px;
}
span{
	color: #888888;
}

h5{
	font-size: 12px;
	color: #888888;
}
#icon-high-quality{
	width: 30px;
	height: 30px;
	display: inline-block;
}
#haha{
	font-size:22px;
	padding-right: 9px;
}

/*ad*/
.ad{
	background: transparent url(https://i.loli.net/2018/04/22/5adbf8ca2ff5f.png) center;
	background-size: cover;
	padding:63.375px 0 17px; 
	text-align: center;
}
.ad .logosvg{
	width: 230px;
	height: 44px;
}
.openapp{

}
.openapp h6{
	margin:15px auto 5px;
	width:299px; 
	color: #e70a0e;
	font-size:16px;
	line-height:38px;
	 border:1px solid  #e70a0e;
	 border-radius: 38px;
}
.copyright{
	font-size:12px;
	transform: scale(0.75);
	color:#9e9c9d;
}
/*fixed-top*/

.fixed-top{
	width:100%;
	background: white; 
	position:fixed; 
	top:0;
	z-index:999; 
}

